CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_adslr_g7=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_adslr_g7=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_afoundry_ew1200=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_afoundry_ew1200=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_alfa-network_ax1800rm=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_alfa-network_ax1800rm=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_alfa-network_quad-e4g=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_alfa-network_quad-e4g=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_ampedwireless_ally-00x19k=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_ampedwireless_ally-00x19k=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_ampedwireless_ally-r1900k=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_ampedwireless_ally-r1900k=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_arcadyan_we420223-99=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_arcadyan_we420223-99=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asiarf_ap7621-001=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asiarf_ap7621-001=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asiarf_ap7621-nv1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asiarf_ap7621-nv1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rp-ac56=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rp-ac56=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rp-ac87=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rp-ac87=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ac57u-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rt-ac57u-v1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ac65p=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rt-ac65p=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ac85p=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rt-ac85p=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ax54=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rt-ax54=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ax53u=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rt-ax53u=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-n56u-b1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_asus_rt-n56u-b1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_beeline_smartbox-flash=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_beeline_smartbox-flash=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_beeline_smartbox-giga=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_beeline_smartbox-giga=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_beeline_smartbox-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_beeline_smartbox-pro=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_beeline_smartbox-turbo=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_beeline_smartbox-turbo=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_beeline_smartbox-turbo-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_beeline_smartbox-turbo-plus=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_belkin_rt1800=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_belkin_rt1800=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_bolt_arion=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_bolt_arion=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_buffalo_wsr-1166dhp=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_buffalo_wsr-1166dhp=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_buffalo_wsr-2533dhpl=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_buffalo_wsr-2533dhpl=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_buffalo_wsr-600dhp=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_buffalo_wsr-600dhp=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_xzwifi_creativebox-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_xzwifi_creativebox-v1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_cudy_m1800=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_cudy_m1800=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_cudy_wr1300-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_cudy_wr1300-v1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_cudy_wr1300-v2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_cudy_wr1300-v2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_cudy_wr2100=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_cudy_wr2100=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_cudy_x6-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_cudy_x6-v1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_cudy_x6-v2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_cudy_x6-v2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dap-1620-b1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dap-1620-b1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dap-x1860-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dap-x1860-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-1935-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-1935-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-1960-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-1960-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-2640-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-2640-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-2660-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-2660-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-3060-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-3060-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-853-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-853-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-853-a3=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-853-a3=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-853-r1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-853-r1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-860l-b1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-860l-b1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-867-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-867-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-878-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-878-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-878-r1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-878-r1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-882-a1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-882-a1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-882-r1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dlink_dir-882-r1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_d-team_newifi-d2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dual-q_h721=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_dual-q_h721=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_edimax_rg21s=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_edimax_rg21s=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_edimax_ra21s=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_edimax_ra21s=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_edimax_re23s=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_edimax_re23s=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1167ghbk2-s=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1167ghbk2-s=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1167gs2-b=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1167gs2-b=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1167gst2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1167gst2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1750gs=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1750gs=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1750gst2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1750gst2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1750gsv=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1750gsv=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1900gst=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-1900gst=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-2533ghbk-i=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-2533ghbk-i=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-2533ghbk2-t=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-2533ghbk2-t=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-2533gs2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-2533gs2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-2533gst=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-2533gst=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-2533gst2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_elecom_wrc-2533gst2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_etisalat_s3=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_etisalat_s3=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_firefly_firewrt=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_firefly_firewrt=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gehua_ghl-r-001=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_gehua_ghl-r-001=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_winstars_ws-wn583a6=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_winstars_ws-wn583a6=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_glinet_gl-mt1300=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_glinet_gl-mt1300=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gnubee_gb-pc1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_gnubee_gb-pc1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gnubee_gb-pc2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_gnubee_gb-pc2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_h3c_tx1800-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_h3c_tx1800-plus=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_h3c_tx1801-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_h3c_tx1801-plus=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_h3c_tx1806=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_h3c_tx1806=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_haier_har-20s2u1=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_haier_har-20s2u1=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_hanyang_hyc-g920=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_hanyang_hyc-g920=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_hilink_hlk-7621a-evb=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_hilink_hlk-7621a-evb=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_hiwifi_hc5962=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_hiwifi_hc5962=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_huasifei_ws1208v2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_huasifei_ws1208v2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_humax_e10=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_humax_e10=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-ax1167gr=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-ax1167gr=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-ax1167gr2=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-ax1167gr2=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-ax2033gr=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-ax2033gr=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-dx1167r=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-dx1167r=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-dx1200gr=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-dx1200gr=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-dx2033gr=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-dx2033gr=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-gx300gr=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wn-gx300gr=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wnpr2600g=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iodata_wnpr2600g=""
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iptime_a3002mesh=y
CONFIG_TARGET_DEVICE_PACKAGES_ramips_mt7621_DEVICE_iptime_a3002m
