CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7981=y
CONFIG_TARGET_mediatek_mt7981_DEVICE_cmcc_rax3000m-emmc=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
CONFIG_KERNEL_EXT4_FS_SECURITY=y
CONFIG_KERNEL_FS_POSIX_ACL=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_LZO=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_PACKAGE_alist=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_cgroupfs-mount=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ddns-scripts=m
CONFIG_PACKAGE_ddns-scripts-services=m
CONFIG_PACKAGE_docker=m
CONFIG_PACKAGE_dockerd=m
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_jsoncpp=y
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-crypto-acompress=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-dax=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-dma-buf=m
CONFIG_PACKAGE_kmod-dummy=m
CONFIG_PACKAGE_kmod-fs-btrfs=m
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-i2c-core=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ikconfig=m
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-lzo=m
CONFIG_PACKAGE_kmod-lib-raid6=m
CONFIG_PACKAGE_kmod-lib-xor=m
CONFIG_PACKAGE_kmod-lib-zlib-deflate=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-lib-zstd=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-video-core=m
CONFIG_PACKAGE_kmod-video-uvc=m
CONFIG_PACKAGE_kmod-video-videobuf2=m
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdb47=y
CONFIG_PACKAGE_libdevmapper=m
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libfaad2=y
CONFIG_PACKAGE_libflac=y
CONFIG_PACKAGE_libfuse=y
CONFIG_PACKAGE_libid3tag=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_libjpeg-turbo=m
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmad=y
CONFIG_PACKAGE_libmicrohttpd-no-ssl=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libmms=y
CONFIG_PACKAGE_libmount=m
CONFIG_PACKAGE_libmpdclient=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libnetwork=m
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libnpupnp=y
CONFIG_PACKAGE_libogg=y
CONFIG_PACKAGE_libopus=y
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_libseccomp=m
CONFIG_PACKAGE_libshout=y
CONFIG_PACKAGE_libsndfile=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libupnpp=y
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libvorbisidec=y
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_libyaml=y
CONFIG_PACKAGE_luci-app-alist=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-docker=m
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-mjpg-streamer=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-mwan3helper=m
CONFIG_PACKAGE_luci-app-natmap=m
CONFIG_PACKAGE_luci-app-ngrokc=m
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-socat=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-taskplan=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-i18n-alist-zh-cn=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-docker-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=m
CONFIG_PACKAGE_luci-i18n-lucky-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=m
CONFIG_PACKAGE_luci-i18n-natmap-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ngrokc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=y
CONFIG_PACKAGE_luci-i18n-socat-zh-cn=m
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=m
CONFIG_PACKAGE_luci-i18n-taskplan-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y
CONFIG_PACKAGE_luci-lib-docker=m
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_lucky=y
CONFIG_PACKAGE_madplay=y
CONFIG_PACKAGE_mdns-utils=y
CONFIG_PACKAGE_mdnsd=y
CONFIG_PACKAGE_mdnsresponder=y
CONFIG_PACKAGE_miniupnpd=y
CONFIG_PACKAGE_mjpg-streamer=m
CONFIG_PACKAGE_mount-utils=m
CONFIG_PACKAGE_mpd-full=y
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_natmap=m
CONFIG_PACKAGE_ngrokc=m
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_pdnsd-alt=m
CONFIG_PACKAGE_pulseaudio-daemon=y
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-bigdecimal=y
CONFIG_PACKAGE_ruby-date=y
CONFIG_PACKAGE_ruby-dbm=y
CONFIG_PACKAGE_ruby-digest=y
CONFIG_PACKAGE_ruby-enc=y
CONFIG_PACKAGE_ruby-forwardable=y
CONFIG_PACKAGE_ruby-pstore=y
CONFIG_PACKAGE_ruby-psych=y
CONFIG_PACKAGE_ruby-stringio=y
CONFIG_PACKAGE_ruby-strscan=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_runc=m
CONFIG_PACKAGE_socat=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_tc-mod-iptables=m
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_tini=m
CONFIG_PACKAGE_transmission-cli=y
CONFIG_PACKAGE_transmission-daemon=y
CONFIG_PACKAGE_transmission-remote=y
CONFIG_PACKAGE_transmission-web-control=y
CONFIG_PACKAGE_ttyd=m
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_upmpdcli=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_yajl=y
CONFIG_SDK=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
# CONFIG_PACKAGE_kmod-crypto-kpp is not set
